Repository dwavesystems/dwave-ocean-sdk, pull requests merged in 2025-06, with the labels that each got.

#357 Add missing icons for dwave-optimization philosophy section
  docs/_images/optimization_combinatorial_icon.svg
  docs/_images/optimization_lp_icon.svg
  docs/_images/optimization_quantum_icon.svg
  docs/_images/optimization_tensor_icon.svg
Labels: bug, docs

#359 Add satellite placement vignette
  docs/_images/vignette_sat_graphic.png
  docs/_images/vignette_sat_lineplot.png
  docs/bibliography.rst
  docs/industrial_optimization/index_vignettes.rst
  docs/industrial_optimization/vignette_satellite.rst
Labels: docs

#365 Add qap vignette
  docs/_images/vignette_qap_graphic.png
  docs/_images/vignette_qap_lineplot.png
  docs/bibliography.rst
  docs/industrial_optimization/index_vignettes.rst
  docs/industrial_optimization/vignette_qap.rst
Labels: feature, docs
